.container {
  width: 100%;
  padding: 0 15px;
}

.page-header {
    border: 1px solid #000000;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 20px;
}

.right-align {
    text-align: right;
}

.dark-button {
    border: 2px solid #000000;
    font-weight: bold;
    height: 28px;
}
.dark-button:disabled span:first-child {
  background-color: gray;
}

.dark-button span:first-child {
    background-color: purple;
    padding: 5px;
    color: #ffffff;
}

.dark-button span:last-child {
    padding: 5px;
}

.product-container {
  margin-bottom: 20px;
}